<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" type="text/css"href="{{url_for('static',filename='styles/home.css')}}">

</head>
<style>

body{
background-color: linen;
}
h2{
font-family:'sans-serif';
font-size:25px;
padding-left:25px;
}

</style>
<body>
<h2>Weather Dashboard in flask</h2>

<form class="weathertext" id="weatherform" action="{{url_for('results')}}" method='POST'>
    
  Location Zip Code: <input class="weathertext" id="weatherinput" type="text" name="zipcode">
    <hr>
    <input  class="weathertext" id="weathersubmit" type="submit" value="Check the Weather">
    
</form>
</body>
</html>